* {
  box-sizing: border-box;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

.react-datepicker * {
  font-size: 14px;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
}

.react-datepicker-popper {
  transform: translate3d(729px, 64px, 0px);
}
